:root {
    --main-font: "Noto Sans", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: var(--main-font);
}

p {
    font-size: 20px;
    color: cadetblue;
    font-family: var(--main-font);
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    font-family: var(--main-font);
}

textarea {
    width: 50vw;
    height: 10vh;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--main-font);
}

button {
    width: 100px;
    height: fit-content;
    min-height: 30px;
    margin-top: 20px;
    font-family: var(--main-font);
    font-size: 15px;
}

button:hover {
    background-color: cadetblue;
}

label {
    margin-bottom: 5px;
}

input {
    margin-top: 5px;
    font-size: 15px;
}

.user {
    color: brown;
}

.response {
    color: cadetblue;
}

#conversation-field {
    width: 50vw;
    height: 60vh;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    overflow-y: auto;
}